
<div class="container">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" *ngFor="let i of data.data">
            
            <div class="row g-3 mt-4">
                <nav class="navbar navbar-expand-lg bg-success">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">{{i.name}}</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        </ul>
                        <p class="d-flex">trips:{{i.trips}}</p>

                      </div>
                    </div>
                  </nav>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3" *ngFor="let j of i.airline" >
                    <div class="card mb-3" >
                        <img src="{{j.logo}}"  class="card-img-top" alt="...">
                        <div  style="height: 300px; z-index: 20; " class="card-body">
                            <h5 class="card-title">{{j.name}}</h5>
                          <p class="card-text">{{j.country}}</p>
                          <p class="card-text">{{j.slogan}}</p>
                          <p class="card-text">{{j.head_quaters}}</p>                          
                          <p class="card-text">{{j.website}}</p>                          
                          <p class="card-text">{{j.established}}</p>                          

                          <p class="card-text"><small class="text-muted"> </small></p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>>
